body {
  font-family: Roboto;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
  position: relative;
  height: 100vh;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 60px;
  margin: 0 auto;
  background-color: #ffffff;
}

.htitle1 {
  margin-left: 600px;
}

.htitle1,
.htitle2,
.htitle3 {
  font-size: 15px;
  font-weight: 400px;
  color: #000000;
  text-shadow: 0 0 2px #000a;
}

.himage2 {
  text-align: right;
  width: 20px;
  height: 20px;
  background-image: url(Image/lupa.png);
  background-size: cover;
}

.himage1 {
  text-align: left;
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin: 45px;
  background-image: url(Image/bandera.png);
  background-size: cover;
}

/* Titulo */

.container-title {
  position: relative;
  display: inline-block;
}

.viaje {
  width: 95%;
  height: 95px;
  margin-left: 350px;
  margin-top: 200px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 7px;
  color: #3d74b6;
}

h1 {
  margin: 0;
  margin-left: 250px;
  position: absolute;
  bottom: 0;
  font-weight: bolder;
  font-size: 80px;
  letter-spacing: 3px;
  color: #000000;
}

/* Información */

p {
  width: 45%;
  height: 40%;
  margin-left: 250px;
  margin-top: 15px;
  text-align: justify;
}

/* Botón */

button {
  position: absolute;
  width: 150px;
  height: 40px;
  bottom: 170px;
  margin-left: 250px;
  margin-top: 50px;
  border: none;
  font-family: Roboto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 30px;
  background-color: #3d74b6;
  color: #ffffff;
  box-shadow: 0 0 2px #000;
}

/* Imágenes */

.imagen1 {
  position: absolute;
  width: 1000px;
  height: 600px;
  border: none;
  background-image: url(Image/Lajas.png);
  background-size: cover;
  bottom: 0px;
  right: 0;
  opacity: 0.2;
}

.imagen2 {
  position: fixed;
  width: 700px;
  height: 700px;
  background-image: url(Image/bandera.png);
  background-size: cover;
  bottom: -190px;
  right: 0;
  opacity: 0.8;
}

.imagen3 {
  position: fixed;
  width: 300px;
  height: 650px;
  background-image: url(Image/botero.png);
  background-size: cover;
  bottom: -30px;
  right: 0;
}
